@import "../../../styles/variables";

.button {
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  user-select: none;
  text-decoration: none;
  color: $white;
  border: 1px solid $black;
  background: $black;
  min-width: 10rem;
  margin: 8px;
}

.pill {
  border-radius: 50px;
}

.rounded {
  border-radius: 5px;
}

.buttonOutline {
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  user-select: none;
  text-decoration: none;
  color: $black;
  border: 1px solid $black;
  background: transparent;
  min-width: 10rem;
  margin: 8px;
}

.buttonOutline:hover {
  color: $white;
  border: 1px solid $black;
  background: $black;
}

.primary {
  color: $white;
  background: $brand-blue;
  border: 1px solid $brand-blue;
}

.primary:hover {
  color: $white;
  background: #00769e;
  border: 1px solid #00769e;
}

.primaryOutline {
  background: transparent;
  color: $brand-blue;
  border: 1px solid $brand-blue;
}

.primaryOutline:hover {
  color: $white;
  background: $brand-blue;
}

.danger {
  color: $white;
  background: $brand-orange;
  border: 1px solid $brand-orange;
}

.danger:hover {
  color: $white;
  background: $brand-dark-orange;
  border: 1px solid $brand-dark-orange;
}

.dangerOutline {
  background: transparent;
  color: $brand-orange;
  border: 1px solid $brand-orange;
}

.dangerOutline:hover {
  color: $white;
  background: $brand-orange;
}
